<div class="container">
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://www.rawsonhomes.com.au/-/media/rawson-homes/home-designs/bronte/facades/hi-res-bronte-hamptons-2168x1355.ashx?thn=0&w=1016&hash=96A840845863F5C11C9429D577F0F76C"
          style="width:100%" height="500px" alt="">
      </div>
      <div class="carousel-item">
        <img
          src="https://images.unsplash.com/photo-1480074568708-e7b720bb3f09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80"
          style="width:100%" height="500px" alt="">
      </div>
      <div class="carousel-item">
        <img
          src="https://assets.architecturaldesigns.com/plan_assets/324992268/large/23703JD_01_1553616680.jpg?1553616681"
          style="width:100%" height="500px" alt="">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>

  </div>
  <div class="card">
    <div class="card-header">
      <h3 class="text-primary">About us:</h3>
      <p>The Rental management System is Searching in Based an the Apartment Paying Guest ,Office ,House in metropolitan
        cities.
        The Rental Management System is Based an the Owners and the Customers.The Owner is updated an the Apartment
        ,Office details, House , Paying Guest details.
        The Customer is details about the Room space , Room rent and the Address Details also. The Rental Management
        System is best Suitable an the owners because time save and the only contact an the eligible person and there is
        no need to explain the room details an the speak.
        The Rental Management System is best application in the city place The customer contact an the easily search an
        the suitable place of Apartment , Office , PG, House and based the Money ,Limit Person is based an the suitable
        house. The Rental Management System is save an the time also. The Rental Management System is used to easily
        identify the suitable place in Save time, cost also. The Rental Management System is best way to search the
        house ,Apartment office, Paying Guest .
      </p>
    </div>
    <div class="card-body">
      <div class="row">
        <img src="https://assets.materialup.com/uploads/3903c30b-496c-400a-834a-b2c858ee3494/preview.png" width="100%"
          height="500px" alt="">
      </div>
    </div>

    <div class="card-footer">

    </div>
  </div>
  <h4 class="text-center">copyrights@ratnachari2019</h4>
</div>