<div class="container">
    <h2 class="text-center text-primary"><u>PAYMENT HISTORY</u></h2>
    <table class="table">
        <thead>
            <th>Owner name</th>
            <th>Address</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Accountno</th>
            <th>IFSC code</th>
        </thead>
        <tr *ngFor='let pay of viewhistory'>
            <td>{{pay.owner}}</td>
            <td>{{pay.address1}}</td>
            <td>{{pay.month}}</td>
            <td>{{pay.amount}}</td>
            <td>{{pay.acno}}</td>
            <td>{{pay.code}}</td>
        </tr>
    </table>
</div>