<div class="container">
    <input type="text" name="search" id="" placeholder="search" [(ngModel)]="searchTerm">
</div>
<table class="table">
    <thead>
        <th>House type</th>
        <th>Address</th>
        <th>Rent</th>
        <th>Rules</th>
        <th>Image</th>
        <th>Expected Rate</th>
        <th>Status</th>
    </thead>
    <tr *ngFor="let obj of house | search : searchTerm">
        <td>{{obj.house}}</td>
        <td>{{obj.address}}</td>
        <td>{{obj.rent}}</td>
        <td>{{obj.rules}}</td>
        <td>{{obj.image}}</td>
        <td><input type="text" name="expectedrent" class="form-control" #ref9></td>
        <td><button class="btn btn-info"
                *ngIf="!(currentuser.username==obj.vendorname)&&(obj.reqstatus !='request accepted')"
                (click)='Changestatus(ref9.value,obj)'>click for request</button>
            <!--<button class="btn btn-danger" *ngIf="check" (click)='requestdata()'>check request</button>-->
            <p *ngIf='currentuser.username==obj.vendorname'>{{obj.reqstatus}}</p>
            <p *ngIf="!(currentuser.username==obj.vendorname)&&(obj.reqstatus =='request accepted')">house booked</p>
        </td>
    </tr>
</table>