<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2 class="text-center text-primary">LOGIN FORM FOR OWNER/VENDOR</h2>
            <form #ref="ngForm" (ngSubmit)='method(ref.value)'>
                <div class="form-group">
                    <label>UserName</label>*
                    <input type="text" name="name" class="form-control" ngModel #ref1="ngModel" required>
                    <label *ngIf="ref1.invalid && ref1.touched">
                        <div class="text-danger">*this field is mandatory</div>
                    </label>
                </div>
                <div class="form-group">
                    <label>Password</label>*
                    <input type="password" name="password" class="form-control" ngModel #ref2="ngModel" minlength="5">
                    <label *ngIf="ref2.invalid " class="text-danger">*this field contain atleast 5 characters</label>
                </div>
                <label>TYPE OF USER:</label>*
                <div><label *ngIf="ref3.invalid" class="text-danger">*user is mandatory</label></div>
                <div class="form-check">
                    <label for="b" class="form-check-label">
                        <input type="radio" name="user" id="b" value="owner" class="form-check-input" ngModel
                            #ref3="ngModel" required>Owner
                    </label>
                </div>
                <div class="form-check">
                    <label for="n" class="form-check-label">
                        <input type="radio" name="user" id="n" value="vendor" class="form-check-input" ngModel
                            #ref3="ngModel" required>Vendor
                    </label>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-success" type="submit">LOGIN</button>
                </div>
                <div class="text-center">
                    <a routerLink="/nav/forgotpassword">Forgotpassword?</a></div>
                <!--
        <h5 class="text-center text-danger" *ngIf="login">{{login}}</h5>-->
            </form>
            <div class="form-group text-center">
                New User?<a routerLink="/nav/register"><u>Click here to Register</u></a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3"></div>