<ul class="nav nav-expand-sm content-justify-center">
    <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/addpayment">Add payment</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/viewpayment">View payment</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/viewpaymenthistory">View payment history</a>
    </li>
</ul>