<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form #ref="ngForm" (ngSubmit)='password(ref.value)'>
                <div class="form-group mt-3">
                    <label>EnterUserid:</label>
                    <input type="text" name="username" class="form-control" ngModel>
                </div>
                <label>TYPE OF USER:</label>
                <div class="form-check">
                    <label for="k" class="form-check-label">
                        <input type="radio" name="user" id="k" value="owner" class="form-check-input" ngModel>Owner
                    </label>
                </div>
                <div class="form-check">
                    <label for="i" class="form-check-label">
                        <input type="radio" name="user" id="i" value="vendor" class="form-check-input" ngModel>Vendor
                    </label>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-success">submit</button>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>