<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <th>vendorname</th>
                    <th>address</th>
                    <th>email</th>
                    <th>number</th>
                    <th>eRent</th>
                    <th>Status</th>
                </thead>
                <tr *ngFor='let client of currentuser'>
                    <td>{{client.vendorname}}</td>
                    <td>{{client.address}}</td>
                    <td>{{client.email}}</td>
                    <td>{{client.number}}</td>
                    <td>{{client.eRent}}</td>
                    <td>{{client.reqstatus}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>